.container_article{
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 60rem;
    margin: auto;
    font-family: sans-serif;
    padding: 1rem 0;
    background-color: turquoise;
    border-radius: 1rem;
    color: white;
}
.title{
    padding-bottom: 1rem;
    font-size: larger;
    margin-left: 1rem;
    font-weight: 600;
}
.formArt{
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    align-items: center;
    padding: 1rem;
}
.form_ET{
    width: 100%;
    max-width: 40rem;
    padding: 0.7rem;
    border-radius: 1rem;
    border-style: none;
    outline-style: none;
    margin-bottom: 2rem;
}
#spinner{
    text-align-last: center;
    width: 100%;
    max-width: 15rem;
    padding: 0.3rem;
    outline-style: none;
    border-style: none;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
    cursor: pointer;
}
.number{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.number_ET{
    width: 100%;
    max-width: 5rem;
    padding: 0.3rem;
    text-align: center;
    margin-bottom: 2rem;
    border-style: none;
    outline-style: none;
    border-radius: 1rem;
}
.space{
    width: 100%;
    max-width: 10rem;
    min-width: 0;
}
#description{
    height: 100%;
    max-height: fit-content;
    width: 100%;
    max-width: 40rem;
    border-style: none;
    outline-style: none;
    border-radius: 1rem;
    padding: 1rem;
}
.btnAjouter{
    width: 100%;
    max-width: 10rem;
    margin-top: 2rem;
    padding: 0.5rem;
    border-radius: 1rem;
    border-style: none;
    background-color: white;
    cursor: pointer;
    color: turquoise;
    font-weight: 600;
}
.btnAjouter:hover{
   background-color: royalblue;
   color: white;
   transition: 600ms;
}
@media screen and (max-width:447px){
    .container_article{
        width: 90%;
        margin: 5% auto;
    }
}