.erreur{
    display: block;
}
.connexion{
    display: flex;
    flex-direction: column;
    margin-top: 25%;
    margin-right: 25%;
    margin-left: 25%;
    background-color: rosybrown;
    justify-content: center;
    align-items: center;
}