.container_infos{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    max-width:60rem;
    min-width: 10rem;
    height: 100%;
    max-height: fit-content;
    background-color: #02989D;
    border-radius: 1rem;
    font-family: sans-serif;
    color: white;
}
.titleArticle{
    padding: 1rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: larger;
    font-weight: 600;
}
.inti{
    font-size: medium;
    font-weight: 600;
    font-size: large;
}
#descTitle{
    margin-left: 1rem;
}
.detail{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-bottom: 1rem;
}
.desc{
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.infoArt{
    display: flex;
    width: 100%;
    margin-top: 2rem;
    justify-content: center;
    text-align: center;
}
.infoArt div{
    width: 10rem;
}
.acheter{
    width: 90%;
    max-width: 10rem;
    padding: 0.5rem;
    border-radius: 1rem;
    outline-style: none;
    border-style: none;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 2rem;
    background-color: white;
    font-weight: 600;
    color: #02989D;
}

