.profilFo{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
    max-width: 60rem;
    min-width: 0rem;
    padding: 1rem 0;
    border-radius: 1rem;
    background-color: royalblue;
    font-family: sans-serif;
    color: white;
}
.formPfo{
    display: flex;
    flex-direction: column;
    margin: 1rem 10%;
}
.title{
    margin-left: 1rem;
    font-weight: 600;
    font-size: large;
    margin-bottom: 1rem;
}
.lblP{
    padding: 1rem 0;
    text-align: center;
}
.lblP:nth-child(1){
    padding-top: 0;
}
.form_Et{
    padding:0.7rem;
    border-radius: 1rem;
    border-style: none;
    outline-style: none;
}
#raisonSociale{
    margin-bottom: 2rem;
}
.btnModif{
    padding:0.5rem;
    width: 100%;
    max-width: 10rem;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: white;
    border-style: none;
    cursor: pointer;
    color: royalblue;
    font-weight: 600;
}
.btnModif:hover{
    background-color: #3A5196;
    color: white;
    transition: 600ms;
}
@media screen and (max-width:447px){
    .profilFo{
        margin: 10% auto;
    }
}
