.erreur{
    display: none;
}
.container_profil{
    display: flex;
    flex-direction: column;
    background-color: royalblue;
    justify-content: center;
    margin: auto;
    width: 90%;
    max-width: 50rem;
    min-width: 10rem;
    border-radius: 1rem;
    font-family: sans-serif;
    color: white;
}
.title_user{
    padding: 1rem;
    padding-bottom: 2rem;
    font-size: larger;
}
.formPac{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
}
.formPac label{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.formPac label:nth-child(1){
    margin-top: 0rem;
    margin-bottom: 1rem;
}
.form_Et{
    width: 100%;
    max-width: 30rem;
    padding: 0.7rem;
    border-radius: 1rem;
    outline-style: none;
    border-style: none;
}
.btnModif{
    margin: 1rem 0;
    margin-top: 2rem;
    width: 100%;
    max-width: 10rem;
    padding: 0.5rem;
    border-style: none;
    outline-style: none;
    background-color: white;
    border-radius: 1rem;
    font-weight: 600;
    color: royalblue;
    cursor: pointer;
}
.btnModif:hover{
    background-color: #3A5196;
    color: white;
    transition: 600ms;
}
@media screen and (max-width: 447){
    .container_profil{
        width: 30%;
    } 
    .formPac{
        padding: 0 1rem;
    }
}